{
  "bucket": "your-destination-bucket",
  "acl": "public-read",
  "thumbnail": {
      "size": 600,
      "directory": "./resized/small",
      "prefix": "resized-",
      "suffic": "",
      "cacheControl": null
    }
}
